{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FlaskCards{% endblock %}

{% block page_content %}
<div class="page-header text-center">
    <h1> 大时间周期，最小行动！</h1>
</div>
{{ wtf.quick_form(form) }}

<div class="container-fluid" style="margin-top:5rem;">

    <div class="card-columns">
        <!-- Card 4 -->
        {% for card in cards %}
        <div class="card ">
            <div class="card-header  text-center"><h3>{{card.title}}</h3></div>
            <div class="card-body">
                <p class="card-text">{{ card.body_html | markdown }}</p>
            </div>
            <div class="card-footer"><small class="text-muted">{{ moment(card.timestamp).fromNow()}}</small></div>
        </div>
        {% endfor %}

        <!-- 卡片可增加图片>
        <!-- {% for card in cards %}
        <div class="card">
          <img class="card-img-top img-fluid" src="/static/desert-sky-1537792.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{card.title}}</h4>
         <p class="card-text">{{ card.body }}</p>
         <p class="card-text"><small class="text-muted">{{ moment(card.timestamp).fromNow()}}</small></p>
       </div>
     </div>
      {% endfor %} -->


    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
